<!DOCTYPE html>

<html>

<head>
    <title>About</title>
</head>

<body>
    <div class="main-content">
        <h1>hello babies</h1>
        <a href="/index/about">Login</a>
    </div>
    
</body>

</html>